.pets{
    padding: 70px 80px;
    background: #FFF8F0;
}

.pets h2{
    text-align: center;
    font-size: 40px;
    color: #6F4E37;
    margin-bottom: 40px;
}

.pet-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.pet-card{
    background: white;
    width: 240px;
    border-radius: 20px;
    border:3px solid #6F4E37;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.pet-card:hover{
    transform: translateY(-8px);
}

.pet-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.pet-card h3{
    color: #6F4E37;
    margin-top: 15px;
}

.pet-card p{
    color: #777;
    margin: 10px 0;
}

.pet-card button{
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background: #6F4E37;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.pet-card button:hover{
    background: #A67C52;
}